---
title: About this page
layout: base.njk
---

<div class="container">
    <h1>About</h1>
    <p>It was only just now editing this page made with HTML, CSS and JavaScript, and served as a JAMstack site</p>
</div>